@radio-s: 10rpx;
@radio-m: 15rpx;
@radio-l: 20rpx;

@margin-s: 15rpx;
@margin-m: 20rpx;
@margin-l: 30rpx;
@margin-ls: 40rpx;

@padding-s: 10rpx;
@padding-m: 15rpx;
@padding-l: 20rpx;

@borderColor: rgba(0, 0, 0, .4);
@fontColor: rgba(0, 0, 0, .6);
@fontColor-dark: rgba(0, 0, 0, .9);

@bacColor:rgba(255,255,255,1);
@bacColor-bleak:rgba(255,255,255,.4);

@fontSize-s: 24rpx;
@fontSize-m: 30rpx;
@fontSize-l: 36rpx;
